* {
    margin: 0px;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.header {
    background-color: #EAC926;
    padding: 20px;
    font-size: 16px;
}
    .header-arriba {
        display: flex;
        flex-flow: wrap row;
        margin-bottom: 20px;
    }
        .logo {
            flex: 1 1 30%;
        }
        .buscador {
            flex: 1 1 40%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .cabeza {
            margin-top: 10px;
            flex: 2 1 100%;
            text-align: center;
        }
        ul {
            padding: 0%;
            display: none;
        }
                a {
                    text-decoration: none;
                    color: black;
                }
            .hamburguesa {
                
                background-color: rgb(85, 85, 211);
                color: white;
                font-size: 20px;
                text-align: center;
                width: 50px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-radius: 9px;
                margin: auto;
                margin-bottom: 10px;
            }
main {
    background-color: #ebebeb;
    padding-bottom: 20px;
}
    main section {
        width: 90vw;
        margin: auto;
        padding-top: 10px;
        
    }
    h2 {
        font-size: 24px;
    }
    main article {
        background-color: white;
        margin: 10px;
    }
    main i {
        font-size: 16px;
        width: 30px;
        height: 30px;
        padding: 5px;
        border: solid 1px #39b54a;
        border-radius: 50%;
        color: rgb(36, 184, 36);
        position: absolute;
        right: 20px;
        top: -15px;
        background-color: #FFF;
    }
    .detalles {
        border-top: solid 1px #ebebeb;
        padding: 15px;
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }
        .precios {
            font-size: 18px;
            flex: 1 1 30%
        }
        .descuentos {
            font-size: 16px;
            color: rgb(36, 184, 36);
            flex: 1 1 70%;
        }
        .nombre {
            font-size: 16px;
            color: #777777;
            display: none;
            flex: 1 1 100%;
        }

footer {
    text-align: center;
    margin: 10px;
}
    footer article{
        margin-bottom: 10px;
        margin: 25px;
    }
        footer article i {
            font-size: 40px;
            color: rgb(82, 82, 253);
        }
        .descripciones {
            font-size: 12px;
        }
    footer p.copyright {
        text-align: left;
        color: #888888;
        font-size: 12px;
    }

    @media (min-width: 361px) {
        main article {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            flex: 1 1 40%;
        }
        main section h2 {
            flex: 1 1 100%;
        }
        .nombre {
            display: inline-block;
        }
        .hamburguesa {
            display: none;
        }
        ul {
            display: inline-block;
        }
        .listas {
            display: flex;
            justify-content: space-between;
        }
        nav ul {
            display: flex;
        }
        li {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
        main section {
            display: flex;
            flex-flow: row wrap;
        }
        .logo {
            flex: 1 1 20%;
        }
        .buscador {
            flex: 1 1 20%;
        }
        .cabeza{
            margin-top: 0%;
            flex: 1 1 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .buscador input {
            width: 200px;
        }
    }

    @media (min-width: 769px) {
        main article {
            flex: 1 1 15%;
        }
    }